{block navig}
{/block}

{block content}
    <h1>Převody fyzikálních jednotek</h1>
    <h2>Náhodný příklad</h2>
    
    {$example->pocet} {$example->zdrojova_jednotka_nazev} ( {$example->zdrojova_jednotka_zkratka}) = ________ {$example->cilova_jednotka_nazev} ( {$example->cilova_jednotka_zkratka})  
    {control exampleForm}  
    
    
{/block}
